{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
<!-- Posts Section -->
<section class="w-full md:w-2/3 flex flex-col items-center px-3">
    <div class="text-3xl font-bold hover:text-gray-700 pb-4">
        Search results
    </div>
    {% for post in posts %}
        <article class="flex flex-col shadow my-4">
            <div class="bg-white flex flex-col justify-start p-6">
                <a href="{% url 'blog:category_detail' post.category.slug %}" class="text-blue-700 text-sm font-bold uppercase pb-4">{{ post.category.title }}</a>
                <a href="{% url 'blog:post_detail' post.category.slug post.slug %}" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ post.title }}</a>
                <p class="pb-6">{{ post.intro }}</p>
                <a href="{% url 'blog:post_detail' post.category.slug post.slug %}" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
            </div>
            {% empty %}
            <div class="bg-white flex flex-col justify-start p-6">
                <p>No results for the Search...</p>
            </div>
        </article>
    {% endfor %}


        <!-- Pagination -->
        <!-- <div class="flex items-center py-8">
            <a href="#" class="h-10 w-10 bg-blue-800 hover:bg-blue-600 font-semibold text-white text-sm flex items-center justify-center">1</a>
            <a href="#" class="h-10 w-10 font-semibold text-gray-800 hover:bg-blue-600 hover:text-white text-sm flex items-center justify-center">2</a>
            <a href="#" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center ml-3">Next <i class="fas fa-arrow-right ml-2"></i></a>
        </div>
```
</section>
{% endblock %}